body {
  margin: 0;
  text-align: center;
  font-family: open sans, sans-serif;
  color: #40514E;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: sacramento, cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  font-family: Montserrat, sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  padding-bottom: 10px;
}


h3 {
  font-family: Montserrat, sans-serif;
  color: #11999E;
}
p{
  line-height: 2;
}

a{
color: #11999E;
text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

hr {

  border-style: dotted none none;
  width: 5%;
  border-width: 5px;
  border-color: grey;
  margin: 100px auto;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top : 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.digital-marketing{
  font-weight: normal;
}



.contact-message {
  margin: 40px auto;
  font-family: Montserrat, sans-serif;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.marketing {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.code {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.introduction {
 width: 50%;
 margin: auto;
}

.middle-container {
  margin: 100px 0;
}
.bottom-container {
  position: relative;
  padding-top: 80px;
  padding-bottom: 50px;
  background-color: #66BFBF;
  color: #EAF6F6;
}
.contact-me {
  width: 50%;
  margin: auto;
}
.contact-button {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   color: #FFFFFF;
   font-family: Open Sans;
   font-size: 20px;
   font-weight: 100;
   padding: 15px;
   background-color: #66BFBF;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.copyright{
  font-size: 0.75rem;
}
